<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Creating Real-Time Charts with Flask</title>
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
	</head>
	<body>
	<div class="container">
	    <div class="row">
	        <div class="col-12">
	            <div class="card">
	                <div class="card-body">
	                    <canvas id="canvas"></canvas>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<p>timestamp: <span id="timestamp"></span></p>
	<p>ds18b20: <span id="ds18b20"></span></p>
	<p>mlx_ambient: <span id="mlx_ambient"></span></p>
	<p>mlx_object: <span id="mlx_object"></span></p>
	<p>mlx_object_avg_over1min: <span id="mlx_object_avg"></span></p>
	<p>Status: <span id="status"></span></p>
	<p>intial temperature: <span id="temperature"></span></p>
	<p>initial average: <span id="average"></span></p>
	
	<!--suppress JSUnresolvedLibraryURL -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<!--suppress JSUnresolvedLibraryURL -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!--suppress JSUnresolvedLibraryURL -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
		
	<script>
	    $(document).ready(function () {	        	        	     
	        const config = {
	            type: 'line',
	            data: {
	                labels: [],
	                datasets: [{
	                    label: "ds18b20",
	                    backgroundColor: 'rgb(255, 99, 132)',
	                    borderColor: 'rgb(255, 99, 132)',
	                    data: [],
	                    fill: false,
	                }, {
	                    label: "mlx_ambient",
	                    backgroundColor: 'rgb(97, 171, 64)',
	                    borderColor: 'rgb(97, 171, 64)',
	                    data: [],
	                    fill: false,
	                }, {
	                    label: "mlx_object",
	                    backgroundColor: 'rgb(0, 168, 255)',
	                    borderColor: 'rgb(0, 168, 255)',
	                    data: [],
	                    fill: false,
					},{
	                    label: "mlx_object_avg",
	                    backgroundColor: 'rgb(159, 51, 255)',
	                    borderColor: 'rgb(159, 51, 255)',
	                    data: [],
	                    fill: false,
	                }],
	            },
	            options: {
	                responsive: true,
	                title: {
	                    display: true,
	                    text: 'Creating Real-Time Charts with Flask'
	                },
	                tooltips: {
	                    mode: 'index',
	                    intersect: false,
	                },
	                hover: {
	                    mode: 'nearest',
	                    intersect: true
	                },
	                scales: {
	                    xAxes: [{
	                        display: true,
	                        scaleLabel: {
	                            display: true,
	                            labelString: 'Time'
	                        }
	                    }],
	                    yAxes: [{
	                        display: true,
	                        scaleLabel: {
	                            display: true,
	                            labelString: 'Value'
	                        }
	                    }]
	                }
	            }
	        };
	            
	        const context = document.getElementById('canvas').getContext('2d');
	        const lineChart = new Chart(context, config);
			
			//declare variable
			//var temperature = null;
			//var average = null;

			//insert data from JSON to global variables				
			var timestamp;
			var ds18b20;
			var mlx_ambient;
			var mlx_object;
			var mlx_object_avg;
	                            
	        //var jsonurl = "/data";
	        function fetchData(){    //this function will run 3 sec, with setInterval
	            $.getJSON('/data', function (data) {   
					
					//declare var for easy usage
					timestamp = data.c[0][0];
					ds18b20 = data.c[0][1];
					mlx_ambient = data.c[0][2];
					mlx_object = data.c[0][3];
					mlx_object_avg = data.d[0][0];

					//force update data
					//if (temperature == null){
					//	temperature = mlx_object;
					//	average = mlx_object_avg;
					//}
			
	              // for (var i=0; i < data.length; i++){                
	                //shift the old data to make the graph nicer
	                if (config.data.labels.length === 60) {    
	                    config.data.labels.shift();
	                    config.data.datasets[0].data.shift();
	                    config.data.datasets[1].data.shift();
						config.data.datasets[2].data.shift();
						config.data.datasets[3].data.shift();
					}
					
	                //insert data to graph   
	                config.data.labels.push(timestamp); 
	                config.data.datasets[0].data.push(ds18b20); 
	                config.data.datasets[1].data.push(mlx_ambient); 
					config.data.datasets[2].data.push(mlx_object); 
					config.data.datasets[3].data.push(mlx_object_avg); 
	                lineChart.update();
	
					//update current value on web
					document.getElementById("timestamp").textContent = timestamp;  
	                document.getElementById("ds18b20").textContent = ds18b20;
	                document.getElementById("mlx_ambient").textContent = mlx_ambient;
					document.getElementById("mlx_object").textContent = mlx_object; 
					document.getElementById("mlx_object_avg").textContent = mlx_object_avg.toFixed(2);
					document.getElementById("temperature").textContent = temperature;
					document.getElementById("average").textContent = average; 				

				   //}//end of for loop()  
				  

				   dataProcessing();
				   

	            }); //end of $.getJSON()
	         }//end of fetchdata()
			
			 //loop to get new data
	        $(document).ready(function(){
	           setInterval(fetchData,5000);
			});    

			var last_value = null;
		
			function dataProcessing(){
					
				var last_on = timestamp;		//insert data
				var temperature = mlx_object;
				var average = mlx_object_avg;
								
				if (last_value == null){		
					last_value = 0;
				} 				
		
				console.log("");			
				console.log("temperature (mlx_object) : " + temperature);
				console.log("last value : " + last_value);
				console.log("last_on : " + last_on);
				console.log("");
									
				last_value = temperature;		//insert previous temperature to last_value, 
				
				//and compare last_value & latest temperature using the logic below														
				if (temperature < 70 || temperature <= average+2){
					console.log("OFF : Less than 70/average");
					//return ("OFF", "none");	
				}
																	

				//Check for last temperature change
				if (last_value == null){
					last_value = temperature;
				}
					

				//Temperature went down by 3 degrees
				if (last_value - temperature >= 7){
					console.log("temperature went down by 3");
					//return ("MAYBE", "none")
				}
					

				if (temperature >= average+10){
						//Test corner case of low average
						if (average <= 65 && temperature < 80){

							//Check if temperature is increasing with average
							if (temperature - last_value > 7){
								//Greater than average and went up by 3
								console.log("Greater than average and increasing");
								//return ("ON", last_on)
							}

						} else { 	//If low average and not rising, stove is off
							console.log("Average is low and temperature is not rising significantly");
						}
					
							
					if (last_value - temperature > 5)
						console.log("Greater than average and decreasing");
						//return ("MAYBE", "none")
					if (temperature >= last_value - 3)
						//Greater than average final case
						console.log("ON : Greater than average and increasing");
						//return ("ON", last_on)			
				}
																			
				if (temperature > 105){
					//Temperature above 105
					console.log(" ON : Greater than 105");
					//return ("ON", last_on)
				}
					

				if (last_value != null){
					//Temperature went up by 5 degrees
					if (temperature - last_value >= 5)
						console.log(" ON : temperature went up by 5");
						//return ("ON", "none")
				}
					
				
				//Temperature between 100 and 90, but will happen if previous conditions are false
				if (temperature <= 100 && temperature >= 90){
					console.log("between 90 and 100");
					//return ("MAYBE", "none")
				}
				
				//Temperature below 90
				console.log("OFF : below 90");
				//return ("OFF", "none")
			} //end of dataProcess 
			
			
	                       
	    }); //end of ready()
	    
	</script>
	</body>
	</html>
